{% extends 'base.html' %}
{% load static %}
{% block content %}
     <div class="mt-4 p-5 bg-primary text-white rounded">
        <h1 class="text-center"><b>ประวัติส่วนตัว</b></h1>
    </div>
    <br>
    <div id="section2" class="container-fluid bg-warning text-dark" style="padding:10px 20px;">
        <br>
        <h6>ชื่อ-สกุล : สุภาวดี อรุณโณ &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
            &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
            &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
            &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
            ชื่อเล่น : เอ๋ </h6> <br>
        <h6>วัน เดือน ปี เกิด : 14 กันยายน พ.ศ. 2544 &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
            &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
            &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
            อายุ : 21 ปี</h6> <br>
        <h6>สัญชาติ : ไทย &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
            &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
            &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
            &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
            &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
            เชื้อชาติ : ไทย</h6> <br>
        <h6>ศาสนา : พุทธ &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
            &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
            &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
            &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
            &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
            สถานะภาพ : โสด</h6> <br>
    </div>
              <img src="{% static 'images/ae.png' %}" alt="Prem" class="d-block w-100">
    </div>
{% endblock %}