{% load static %}
<br>
<ul class="list-group">
    <li class="list-group-item active">Menu:</li>
    <li class="list-group-item "><a href="/">หน้าหลัก</a></li>
    <li class="list-group-item "><a href="/ProfilApp/firstweb">ประวัติส่วนตัว</a></li>
    <li class="list-group-item "><a href="/ProfilApp/secondpage">ประวัติการศึกษา</a></li>
    <li class="list-group-item "><a href="/ProfilApp/thirdpage">สิ่งที่สนใจ</a></li>
    <li class="list-group-item "><a href="/ProfilApp/header">สินค้าที่นำเสนอขาย</a></li>
    <li class="list-group-item "><a href="/ProfilApp/rolemodel">บุคคลต้นแบบ</a></li>
    <li class="list-group-item "><a href="/ProfilApp/showMyData">สินค้าที่ขาย</a></li>
    <li class="list-group-item "><a href="/ProfilApp/showOurproduct">kpov</a></li>
    <li class="list-group-item "><a href="/ProfilApp/newProduct">tttt</a></li>
     <li class="list-group-item "><a href="/ProfilApp/frmProduct">tttt</a></li>


</ul>